.home {
    padding-top: 50px;
}

.img {
    width: 400px;
    height: 400px;
    display: block;
    margin: 0 auto;
    border-radius: 25px;
    border: solid 3px #2c3e50;
}

.msg {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
    color: #2c3e50;
    text-align: center;
}